<nav [dir]="dir.value" class="navbar-window">
    <a mat-button routerLink="/" class="navbar-window__title">دفترچه خاطرات من</a>
    <a mat-button routerLink="/" class="navbar-window__storyes">داستان ها</a>
    <a mat-button routerLink="/" class="navbar-window__about">در باره من</a>
    <a mat-button routerLink="/" class="navbar-window__contact">ارتباط با من</a>
    <a mat-button href="https://github.com/alixdehghani" class="navbar-window__github">Github</a>
</nav>
<nav [dir]="dir.value" class="navbar-mobile">
    <a mat-button routerLink="/" class="navbar-mobile__storyes">داستان ها</a>
    <a mat-button routerLink="/" class="navbar-mobile__about">در باره من</a>
    <a mat-button routerLink="/" class="navbar-mobile__contact">ارتباط با من</a>
</nav>