@import "~@angular/material/theming";

$custome-font-typography: mat-typography-config(
    $font-family: 'Vazir FD, Roboto, "Helvetica Neue", sans-serif'
);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html[dir="rtl"] {
    app-root {
        font-family: mat-font-family($custome-font-typography);
    }
}
