@import '~@angular/material/theming';

.header {
    height: 85vh;
    background-image: linear-gradient(to right bottom, rgba( mat-color($mat-indigo, A400), 0.5), rgba( mat-color($mat-indigo, A700), 0.5)),
        url(../../assets/images/header.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__btn {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.heading-primary {
    color: mat-color($mat-grey, A100);
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;
    @media only screen and (max-width: 550px) {
        margin-bottom: 2rem;
    }

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        margin-bottom: 6rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        
        @media only screen and (max-width: 750px) {
            font-size: 4rem;
        }

        @media only screen and (max-width: 550px) {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        animation: moveInRight 1s ease-out;
    }
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}